.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  background-color: #83b151 !important;
  color: #fff !important;
}
.booked {
  background-color: #dedfe0 !important;
  box-shadow: unset !important;
  cursor: not-allowed !important;
}
.invalid {
  background-color: #fce8e6 !important;
  box-shadow: unset !important;
  cursor: not-allowed !important;
}
.waiting {
}

/* .ant-descriptions-item-label {
  background-color: #bdd1db !important;
}
.ant-descriptions-bordered .ant-descriptions-view > table {
  background-color: #f2fcfe !important;
} */
